<h1><%= @user.username %></h1>
<p>Posts <strong>@user.posts.count</strong></p>

<div class="posts-wrap row">
  <% @user.posts.each do |post| %>
    <div class="post col-sm-4">
      <a href="<%= post_path(post) %>">
        <img src="<%= post.body %>" class="img-responsive">
      </a>
    </div>
  <% end %>
</div>


<% if @user.id == current_user.id %>       
  <a href="#" class="btn btn-primary">Create post</a>
<% end %>