@import "bootstrap";
@import "sessions";
@import "users";

header {
  background-color: #f6f6f6;
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: right;
}

@include media-breakpoint-up(sm) {
  .text-right-sm {
    text-align: right;
  }
}

.row {
  width: 100%;
}

.main-content-wrap {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.profile-header {
  display: block;
  width: 100%;
  padding: 0 50px 50px;
}

.sign-in, .sign-up {
  padding: 60px 40px;
  border-radius: 8px;
  min-width: 40vw;
  background-color: #f6f6f6;
  h2 {
    margin-bottom: 20px;
  }
  .text-field, .password-field {
    margin-bottom: 10px;
    input {
      display: block;
      width: 100%;
    }
  }
  .submit-field {
    input {
      background-color: rgb(23, 81, 240);
      color: white;
      border: 0;
      margin: 20px 0;
      padding: 10px 14px;
      border-radius: 8px;
    }
  }
}

