@import "bootstrap";
@import "sessions";
@import "users";

$theme-colors: (
  "primary": #E33692
);

.post {
  margin-bottom: 20px;
}

.btn.btn-primary {
  background-color: #E33692;
  border: 0;
  color: white;
  &:hover {
    background-color: darken(#E33692, 5%);
  }
}

a {
  color: #E33692;
}

header {
  background-color: #E5E5E5;
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 0;
}

.post {
  display: block;
  position: relative;
  overflow: hidden;
  transition: 0.3s linear all 0s;
  img {
    display: block;
    width: 100%;
    height: 265px;
  }
  div {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 10px;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.3s linear all 0s;
    p {
      margin: 0;
      line-height: 1;
    }
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }
  &:hover {
    transition: 0.3s linear all 0s;
    div {
      bottom: 0;
      opacity: 1;
      transition: 0.3s linear all 0s;
    }
  }
}

@include media-breakpoint-up(sm) {
  .text-right-sm {
    text-align: right;
  }
}

.row {
  width: 100%;
}

.main-content-wrap {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.profile-header {
  display: block;
  width: 100%;
  padding: 0 50px 50px;
}

.sign-in, .sign-up {
  padding: 60px 40px;
  border-radius: 8px;
  min-width: 40vw;
  background-color: #f6f6f6;
  h2 {
    margin-bottom: 20px;
  }
  .text-field, .password-field {
    margin-bottom: 10px;
    input {
      display: block;
      width: 100%;
    }
  }
  .submit-field {
    input {
      background-color: #E33692;
      color: white;
      border: 0;
      margin: 20px 0;
      padding: 10px 14px;
      border-radius: 8px;
    }
  }
}

.post-details {
  padding-right: 5%;
  padding-top: 40px;
  @include media-breakpoint-up(md) {
    padding-top: 0;
  }
  textarea {
    margin: 10px 0;
  }
}

.post-image {
  padding-top: 30px;
  @include media-breakpoint-up(md) {
    padding-top: 0;
  }
  img {
    display: block;
    max-width: 100%;
  }
}

